<html>
  <head>
		<script src="/socket.io/socket.io.js"></script>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		
			<script>var dashboardid=<%= dashboardid %>;var my_cities=<%- mydashboard %>; </script>
  <!--	
  <script src="http://code.highcharts.com/highcharts.js"></script>
  -->
   <script type="text/javascript" src="https://www.google.com/jsapi"></script>
   
   
  <!-- *******	Ez majd akkor kell amikor kikerül innen a chart a külön fájlba	********
	  <script src="https://raw.githack.com/lalikir/onlab_2015_01/master/js/line_chart.js"/> </script>		
	-->
	
	
	<style>
	
	#linechart_material {
		margin-bottom: 20px;
	}
	
	</style>
	
	
	
	
	
  
  <script>
  

  
  
  </script>
  
  
	
	
  </head>
  <body>
    
    <div>This is our socket.html file <br>
	The generated random number is:<p id= "test" style="color:blue;font-weight:bold"></p></div>

	<div id="charts" >
	
	</div>
  


<div id="select_city">
	Sending message:
	<select id="city_list"> </select>
	<input type="button" id="kuld" value="Kiválaszt!"></input>
</div>


	<script>

	var chart;
	var options;
	var chartdata;
	var charts_number;
	var recent_city = 0;
	
	function sleep(milliseconds) {
  var start = new Date().getTime();
  for (var i = 0; i < 1e7; i++) {
    if ((new Date().getTime() - start) > milliseconds){
      break;
    }
  }
}
	
	
	
		$(document).ready(function() {
		refreshing();

		if(my_cities.length!=0){
			charts_number = my_cities.length;
			for(var i=0; i<charts_number; i++){
			socket.emit("getcity", my_cities[i]);
			
			$('#charts').append($('<div/>', { id: 'linechart_material_' + i, 'class' : 'linechart'}));

//			console.log("valami");
				}
			}else{
				$('#charts').append($('<div/>', { id: 'linechart_material_' + recent_city, 'class' : 'linechart'}));
			}
		
			$("#kuld").click(function(){
			$('#charts').append($('<div/>', { id: 'linechart_material_' + ++recent_city, 'class' : 'linechart'}));
			socket.emit("getcity", $("#city_list option:selected").text());
			socket.emit("dash", {id : dashboardid, city : $("#city_list option:selected").text()});

			
		}); 
		});
		


		
		var socket = io();
		socket.on('info', function (data) {
		var cities = [];
		for (var i=0 in data){
			cities.push(data[i].name);
			}
			cities.sort();
		
		for (var i=0 in cities){
			  var select = document.getElementById('city_list');
			  select.options[select.options.length] = new Option(cities[i], cities[i]);
		}
		//
		console.log(cities);
		//var tmp =document.getElementById('test');
		//var number = parseFloat(data.msg);
		//tmp.innerHTML = number;
		//document.getElementById('test').value = number;
		
		});
		

		function refreshing()
		{
//		window.alert("");
		socket.on("buildchart", function (data){
			var city_json=JSON.parse(data);
			document.getElementById('test').innerHTML = city_json.list[1].temp.day-273.15;
			createchart(city_json, function() { chart.draw(chartdata, options);});
			console.log(city_json.city.name);

			
			//window.alert(city_json.list[1].temp.day);


			
			});
		
}

		$("#sending").submit(function(e)
		{
		
		//alert("valami");
		});
		

	

function createchart(chartJSON, callback) {
//	recent_city++
	
	chartdata = new google.visualization.DataTable();
	chartdata.addColumn('string', 'Day');
	chartdata.addColumn('number', 'Napi átlag C°');
	
	/*     chartdata.addRows([
        [1,  37.8 ],
        [2,  30.9 ],
        [3,  25.4 ],
        [4,  11.7 ],
        [5,  11.9 ],
        [6,   8.8 ],
        [7,   7.6 ],
        [8,  12.3 ],
        [9,  16.9 ],
        [10, 12.8 ]

	]);*/

      options = {
        chart: {
          title: 'Hőmérséklet: '+ chartJSON.city.name,
          subtitle: 'Érték: (Celsius)'
        },
        width: 1000,
        height: 400
      };
	     chart = new google.charts.Line(document.getElementById('linechart_material_'+recent_city ));
		 recent_city++;
	  
	  
	var rows = createArray (chartJSON);
	//for (var i in chartJSON.list){
		//for (var j=0; j<2; j++)
		//rows.push([i+1, parseInt(chartJSON.list[i].temp.day)]);

		//alert(rows);
	chartdata.addRows(rows);
	
	callback();
	
	
	}
	
	
	//2Dimenziós tömb
function createArray(array) {
var iMax = array.list.length;
var jMax = 2;
var f = new Array();

var month = new Array();
month[0] = "Jan";
month[1] = "Feb";
month[2] = "Márc";
month[3] = "Ápr";
month[4] = "Máj";
month[5] = "Jún";
month[6] = "Júl";
month[7] = "Aug";
month[8] = "Szept";
month[9] = "Okt";
month[10] = "Nov";
month[11] = "Dec";

for (i=0;i<iMax;i++) {
 f[i]=new Array();
 for (j=0;j<jMax;j++) {
	if(j==0){  
		var t = new Date( (array.list[i].dt)*1000 );
		
		var resultstring = month[t.getMonth()] + "." + t.getDate();
		//var formatted = t.format("dd.mm.yyyy hh:MM:ss");
		
		
		f[i][j]=resultstring;
		}
	else{
		f[i][j]=array.list[i].temp.day-273.15;
		}

 }
}
return f;
}



/********************** Chart adatai**************************/

    google.load('visualization', '1.1', {packages: ['line']});
	google.setOnLoadCallback(drawChart);

	function drawChart() {


 //     data.addColumn('number', 'The Avengers');
 //     data.addColumn('number', 'Transformers: Age of Extinction');



   
	  
	 /* var button = document.getElementById("kuld");
	  button.onclick = function ()
	  {
	  	refreshing();
		window.alert("clicked");  

	 }*/

      //chart.draw(data, options);
    }





	</script>



  </body>
</html>