<html>
  <head>
		<script src="/socket.io/socket.io.js"></script>

      <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		
			<script>var dashboardid=<%= dashboardid %>;var my_cities=<%- mydashboard %>; </script>
  <!--	
  <script src="http://code.highcharts.com/highcharts.js"></script>
  -->
   <script type="text/javascript" src="https://www.google.com/jsapi"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/packery/1.4.3/packery.pkgd.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/draggabilly/1.2.0/draggabilly.pkgd.js"></script>


      <!-- *******	Ez majd akkor kell amikor kikerül innen a chart a külön fájlba	********
          <script src="https://raw.githack.com/lalikir/onlab_2015_01/master/js/line_chart.js"/> </script>
        -->

      <!--
      ********************CSEMPÉK CSS fájlja **************************************
       <link rel='stylesheet' type='text/css' href='css/packery-docs.css'/>
      	-->



      <style>

      #linechart_material {
          margin-bottom: 20px;
      }

      /********   Csempéket kezelő kódrészlet  **********/

      {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
      }

      body { font-family: sans-serif; }

      .packery {
          background: #FDD;
          background: hsla(45, 100%, 40%, 0.2);
      }

      /* clearfix */
      .packery:after {
          content: ' ';
          display: block;
          clear: both;
      }
      .item {
          width: 40px;
          height: 40px;
          float: left;
          background: #C09;
          border: 4px solid #333;
          border-color: hsla(0, 0%, 0%, 0.3);
      }

      .item:hover {
          border-color: white;
          cursor: move;
      }

      .item.w2 { width:   80px; background: #9C0; }
      .item.h2 { height:  80px; background: #0C9; }
      .item.h4 { height: 260px; background: #C90; }
      .item.w4 { width:  460px; background: #90C; }


      .item.is-dragging,
      .item.is-positioning-post-drag {
          border-color: yellow;
          background: #09F;
          z-index: 2;
      }



      </style>



      <script>
          //csempeket kezelo szkript


      </script>





  </head>
    <body>

      <div>Holnapi hőmérséklet: <p id= "test" style="color:blue;font-weight:bold"></p></div>



      <h1>Teszt csempek</h1>

      <div id = "charts" class="packery">

      </div>
      <button class="button">Append items</button>




  <div id="select_city">
      Sending message:
      <select id="city_list"> </select>
      <input type="button" onclick="magic()" id="kuld" value="Kiválaszt!"></input>
  </div>


      <script>

      var chart;
      var options;
      var chartdata;
      var charts_number;
      var recent_city = 0;
      var citycntr = 0;

      //Csempe kezelése

      function magic() {

              var $container = $('.packery').packery({
                  columnWidth: 0,
                  rowHeight: 0
              });
              // get item elements, jQuery-ify them
              var $itemElems = $container.find('.item');
              // make item elements draggable
              $itemElems.draggable();
              // bind Draggable events to Packery
              $container.packery( 'bindUIDraggableEvents', $itemElems );

          console.log("uzenet");
      };










      function sleep(milliseconds) {
    var start = new Date().getTime();
    for (var i = 0; i < 1e7; i++) {
      if ((new Date().getTime() - start) > milliseconds){
        break;
      }
    }
  }



          $(document).ready(function() {
              refreshing();

              if(my_cities.length!=0){
              charts_number = my_cities.length;
              if(recent_city<charts_number){

                  loadStoredElements();





                  //			console.log("valami");
                  }
          }
              var $container = $('.packery').packery();
              $("#kuld").on('click', function(){

                  var elems = [];

                  var elem = getItemElement();
                  elems.push( elem );

                  // append elements to container
                  $container.append( elems );
                  // add and lay out newly appended elements
                  $container.packery( 'appended', elems );


                  $('#kuld').on( 'click', function() {
                      // create new item elements

                  });

                  function getItemElement() {
                      var elem = document.createElement('div');
                      var widthClass = 'w4';
                      var heightClass = 'h4';
                      var elemtype = "linechart";
                      elem.id="linechart_material_" + 10;
                      elem.className = elemtype + ' ' +'item ' + widthClass + ' ' + heightClass;
                      return elem;
                  }

              socket.emit("getcity", $("#city_list option:selected").text());
              socket.emit("dash", {id : dashboardid, city : $("#city_list option:selected").text()});




          });
          });




          var socket = io();
          socket.on('info', function (data) {
          var cities = [];
          for (var i=0 in data){
              cities.push(data[i].name);
              }
              cities.sort();

          for (var i=0 in cities){
                var select = document.getElementById('city_list');
                select.options[select.options.length] = new Option(cities[i], cities[i]);
          }
          //
          console.log(cities);
          //var tmp =document.getElementById('test');
          //var number = parseFloat(data.msg);
          //tmp.innerHTML = number;
          //document.getElementById('test').value = number;

          });


      //BETÖLTÉSKOR FELTÖLTI AZ OLDALT

      function loadStoredElements(){
         // magic();
          $('#charts').append($('<div/>', { id: 'linechart_material_' + recent_city, 'class' : 'linechart item w4 h4'}));
          alert("elküldve");
          socket.emit("getcity", my_cities[recent_city]);
          console.log("sadsadadasd");

      }


          function refreshing()
          {
  //		window.alert("");
          socket.on("buildchart", function (data){
              var city_json=JSON.parse(data);
              document.getElementById('test').innerHTML = city_json.list[1].temp.day-273.15;
              createchart(city_json, function() { chart.draw(chartdata, options);});
              console.log(city_json.city.name);
              if(recent_city<charts_number) {
                  loadStoredElements();
              }
              else{
                  magic();          //amikor már minden vacak betöltődött, akkor meghívjuk ezt a függvényt
              }
              console.log("frissult");




                  //window.alert(city_json.list[1].temp.day);



              });

  }

          $("#sending").submit(function(e)
          {

          //alert("valami");
          });




  function createchart(chartJSON, callback) {
  //	recent_city++
      chartdata = new google.visualization.DataTable();
      chartdata.addColumn('string', 'Day');
      chartdata.addColumn('number', 'Napi átlag C°');

      /*     chartdata.addRows([
          [1,  37.8 ],
          [2,  30.9 ],
          [3,  25.4 ],
          [4,  11.7 ],
          [5,  11.9 ],
          [6,   8.8 ],
          [7,   7.6 ],
          [8,  12.3 ],
          [9,  16.9 ],
          [10, 12.8 ]

      ]);*/

        options = {
          chart: {
            title: 'Hőmérséklet: '+ chartJSON.city.name,
            subtitle: 'Érték: (Celsius)'
          },
          width: 460,
          height: 260
        };
      chart = new google.charts.Line(document.getElementById('linechart_material_'+recent_city ));
      recent_city++;


      var rows = createArray (chartJSON);
      //for (var i in chartJSON.list){
          //for (var j=0; j<2; j++)
          //rows.push([i+1, parseInt(chartJSON.list[i].temp.day)]);

          //alert(rows);
      chartdata.addRows(rows);

      callback();


      }


      //2Dimenziós tömb
  function createArray(array) {
  var iMax = array.list.length;
  var jMax = 2;
  var f = new Array();

  var month = new Array();
  month[0] = "Jan";
  month[1] = "Feb";
  month[2] = "Márc";
  month[3] = "Ápr";
  month[4] = "Máj";
  month[5] = "Jún";
  month[6] = "Júl";
  month[7] = "Aug";
  month[8] = "Szept";
  month[9] = "Okt";
  month[10] = "Nov";
  month[11] = "Dec";

  for (i=0;i<iMax;i++) {
   f[i]=new Array();
   for (j=0;j<jMax;j++) {
      if(j==0){
          var t = new Date( (array.list[i].dt)*1000 );

          var resultstring = month[t.getMonth()] + "." + t.getDate();
          //var formatted = t.format("dd.mm.yyyy hh:MM:ss");


          f[i][j]=resultstring;
          }
      else{
          f[i][j]=array.list[i].temp.day-273.15;
          }

   }
  }
  return f;
  }



  /********************** Chart adatai**************************/

      google.load('visualization', '1.1', {packages: ['line']});
      console.log("meghívva");
      google.setOnLoadCallback(drawChart);

      function drawChart() {


   //     data.addColumn('number', 'The Avengers');
   //     data.addColumn('number', 'Transformers: Age of Extinction');





       /* var button = document.getElementById("kuld");
        button.onclick = function ()
        {
            refreshing();
          window.alert("clicked");

       }*/

        //chart.draw(data, options);
      }





      </script>



    </body>
  </html>